/* Apply box-sizing and set background color for all elements */
* {
  box-sizing: border-box;
  background-color: rgb(51, 57, 64);
}

/* Set text color for specific elements */
h1,
footer,
.ptag {
  color: rgb(232, 103, 237);
  height: 22%;
  margin-bottom: 10px;
}

/* Style for section headers (h2) */
h2 {
  color: rgb(232, 103, 237);
  border: 1px solid white;
  padding: 7px 15px;
  border-radius: 10px;
  position: absolute;
  top: -7%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  font-size: 20px;
}

/* Styling for paragraphs (p) */
.p {
  color: white;
  background-color: rgb(130, 78, 138);
  border-radius: 10px;
  padding: 20px 10px;
  height: 75%;
}

/* Body styles */
body {
  font-family: 'Courier New', 'Monaco', 'Lucida Console', monospace;
  margin: auto;
}

/* Style for the header paragraph (pheader) */
.pheader {
  margin: auto;
  width: 50%;
  padding: 20px;
}

/* Header styles */
header {
  padding: 15px;
  text-align: center;
  color: #fff;
}

/* Main content layout styles */
main {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 15px;
  flex-direction: row;
  align-items: normal;
  padding: 15px;
}

/* Style for individual sections */
section {
  flex: 1 0 32%;
  padding: 25px 15px;
  border: 2px dotted white;
  box-sizing: border-box;
  position: relative;
}

/* Footer styles */
footer {
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}



@media screen and (max-width: 767px) {
  header {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px;
    width: 100%;
  }

  .pheader {
    width: 100%;
  }
}


@media screen and (max-width: 500px) {
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* Set display to block to make it a column */
    margin: auto;
    /* Optional: Center the column horizontally */
  }
}